<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список серверов</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Просмотр серверов</h1>
    <table class="server-table">
        <thead>
            <tr>
                <th>Имя сервера</th>
                <th>CPU (всего / свободно)</th>
                <th>RAM (всего / свободно)</th>
                <th>SSD (всего / свободно)</th>
                <th>HDD (всего / свободно)</th>
                <th>Просмотр</th>
            </tr>
        </thead>
        <tbody>
            {% for item in servers %}
            <tr>
                <td>{{ item.server.name }}</td>
                <td>{{ item.server.cpu }} / {{ item.free_resources.free_cpu }}</td>
                <td>{{ item.server.ram }} / {{ item.free_resources.free_ram }}</td>
                <td>{{ item.server.ssd }} / {{ item.free_resources.free_ssd }}</td>
                <td>{{ item.server.hdd }} / {{ item.free_resources.free_hdd }}</td>
                <td>
                    <a href="/view_server/{{ item.server.id }}" class="btn">Просмотреть</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
